---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import AccentButton from '../components/AccentButton.astro';
import Testimonials from '../components/Testimonials.astro';
import Icon from 'astro-icon';
import terapiaIndividual from '../images/terapia-individual.png';
import terapeaIndividual2 from '../images/terapia-individual-2.png';
import terapiaPareja from '../images/terapia-pareja.jpeg';
import terapiaPareja2 from '../images/terapia-pareja-2.png';
import terapiaFamiliar from '../images/terapia-familiar.jpeg';
import terapiaFamiliar2 from '../images/terapia-familiar-2.png';
import CardsRow from '../components/CardsRow.astro';
import { temas } from '../utils/temas';
import Contacto from '../components/Contacto.astro';

const temasRow1 = temas.slice(0, 3);
const temasRow2 = temas.slice(3, 6);
const temasRow3 = temas.slice(6);
---

<Layout>
	<div
		id="hero"
		class="w-full h-[450px] bg-hero-image bg-cover bg-center "
	>
		<div class="flex flex-col items-center py-20 gap-20 px-4 bg-black/20 w-full h-full" >
			<h1 class="text-4xl md:text-5xl font-raleway text-title-text text-center">
				Crea el bienestar que te mereces
			</h1>
			<a href="https://wa.me/523310951644?text=Hola%2C%20me%20gustar%C3%ADa%20agendar%20una%20cita.">
				<AccentButton>
					Haz una Cita
				</AccentButton>
			</a>
		</div>
	</div>
	<section id="reviews" class="flex flex-col justify-center items-center mb-20">
		<h2 class="font-oswald text-title-text text-4xl tracking-wide p-4 text-cencer">
			Opiniones de nuestros clientes
		</h2>
		<div class="flex gap-2 p-4">
			<Icon name="ph:star-fill" class="text-gulf-stream-300" size="32" />
			<Icon name="ph:star-fill" class="text-gulf-stream-300" size="32" />
			<Icon name="ph:star-fill" class="text-gulf-stream-300" size="32" />
			<Icon name="ph:star-fill" class="text-gulf-stream-300" size="32" />
			<Icon name="ph:star-fill" class="text-gulf-stream-300" size="32" />
		</div>
		<Testimonials />
	</section>
	<section id="servicios" class="flex flex-col items-center p4 gap-6 mb-24">
		<h2 class="font-oswald text-title-text text-4xl tracking-wide p-4 text-cencer">
			Servicios
		</h2>
		<div class="flex flex-col md:flex-row p-4">
			<div class="basis-1/3 p-4 grow-0 shrink-0" >
				<Card
					title="Terapia individual"
					linkText='Más información'
					href="/servicios"
					imageSrc={terapiaIndividual}
					image2Alt='Terapia individual'
					image2Src={terapeaIndividual2}
					imageAlt='Terapia individual'
					className="h-full"
				>
					<p>
						La terapia Individual tiene como objetivo tratar las problemáticas que una persona tiene y que le impiden gozar de su vida como le gustaría.
					</p>
				</Card>
			</div>
			<div class="basis-1/3 p-4 grow-0 shrink-0">
				<Card
					title="Terapia de pareja"
					linkText='Más información'
					href="/servicios"
					imageSrc={terapiaPareja}
					image2Alt='Terapia individual'
					image2Src={terapiaPareja2}
					imageAlt='Terapia individual'
					className="h-full"
				>
					<p>
						a terapia de pareja tiene como objetivo trabajar con los problemas que les impide disfrutar de la relación. Se llega a esto mediante estrategias hechas a la medida para cada caso.
					</p>
				</Card>
			</div>
			<div class="basis-1/3 p-4 grow-0 shrink-0">
				<Card
					title="Terapia Familiar"
					linkText='Más información'
					href="/servicios"
					imageSrc={terapiaFamiliar}
					image2Alt='Terapia individual'
					image2Src={terapiaFamiliar2}
					imageAlt='Terapia individual'
					className="h-full"
				>
					<p>
						La terapia familiar tiene como objetivo trabajar con las problemáticas que les están impidiendo relacionarse sanamente como familia y que a su vez tienen un impacto en cada miembro de manera individual. Se llega a esto mediante estrategias hechas a la medida para cada caso.
					</p>
				</Card>
			</div>
		</div>
	</section>
	<section id="temas" class="flex flex-col items-center p4 gap-6 mb-20">
		<h2 class="font-oswald text-title-text text-4xl tracking-wide p-4 text-cencer">
			En qué podemos trabajar
		</h2>
		<CardsRow items={temasRow1} />
		<div x-data="{open: false, }" class="flex flex-col gap-8 items-center">
			<div x-show="open" x-transition>
				<CardsRow items={temasRow2} />
				<CardsRow items={temasRow3} />
			</div>
			<div >
				<AccentButton @click="open = ! open; $refs.buttonAnchor.scrollIntoView()" x-text="open? 'Ver menos':'Ver más'">
				</AccentButton>
			</div>

		</div>
	</section>
	<Contacto />
</Layout>
