---
import type { ImageMetadata } from 'astro';
import Icon from 'astro-icon';
import { Image } from 'astro:assets';
  interface Props {
    title: string;
    imageSrc?: ImageMetadata;
    imageAlt?: string;
    image2Src?: ImageMetadata;
    image2Alt?: string;
    linkText?: string;
    href?: string;
    className?: string;
  }

  const { title, imageSrc, imageAlt, linkText, href, image2Alt, image2Src, className = '' } = Astro.props;
---
<div class={`flex flex-col rounded-xl bg-secondary-bg gap-6 p-6 max-w-md shadow-sm shadow-pearl-bush-300 ${className} ${href ? '' : 'pb-10'}`}>
{image2Src && image2Alt && imageSrc && imageAlt &&
  (
    <div class="rounded overflow-hidden relative shadow-sm shadow-sisal-500">
      <div class="overflow-hidden rounded absolute animate-materialize">
        <Image src={imageSrc} alt={imageAlt} class="w-full"/>
      </div>
      <div class="overflow-hidden rounded">
        <Image src={image2Src} alt={image2Alt} class="w-full" />
      </div>
    </div>
  )
}
  {imageSrc && imageAlt && !image2Src && <Image src={imageSrc} alt={imageAlt} />}

  <h4 class={`font-oswald text-2xl text-title-text text-center ${imageSrc ? '' : 'my-3'}`}>{title}</h4>
  <div class="text-lg text-justify">
    <slot></slot>
  </div>
  {href && linkText && (
    <a href={href}
      class="mt-auto font-oswald text-accent-text text-lg font-semibold tracking-wide text-center py-4"
    >
      {linkText} <Icon name="ic:sharp-arrow-right-alt" size="22" class="text-accent-text inline"/>
    </a>
  )}
</div>